<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" name="nome" ngModel id="nome" class="form-control" placeholder="nome" aria-describedby="helpId">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" name="email" ngModel id="email" class="form-control" placeholder="email@gmail.com" aria-describedby="helpId">
  </div>
  <button class="btn btn-primary">Submit</button>
</form>