<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" name="nome" [(ngModel)]="usuario.nome" id="nome" class="form-control" placeholder="nome"
      aria-describedby="helpId" required #nome>
    <div>
      Nome é obrigatório.
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" name="email" [(ngModel)]="usuario.email" id="email" class="form-control"
      placeholder="email@gmail.com" aria-describedby="helpId" required email>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>
