<!-- 
    <ap-photos [photos]> = propriedade [photos] DE PhotosComponent
        -- Como você sabe? --
            Porque <ap-photos> é um seletor de PhotosComponent, logo a inbound propertie, vulgo [photos] é 
                correspondente a PhotosComponent.

    <ap-photos "photos"> = propriedade "photos" DE PhotoListComponent
        -- Como você sabe? --
            Porque todo valor passado para uma inbound propertie vem do seu component em questão,
            que no caso, esse seletor <ap-photos></ap-photos> está dentro do arquivo
            photo.list.component.html, logo seu .ts é photo.list.component.ts, e lá contem a propriedade photos.
            

    Em resumo, PhotoListComponent recebe uma lista de fotos, guarda em this.photos.
    PhotosComponent Apenas está preparado para receber uma Lista de Fotos.

    [photos] -> preparado para receber lista de fotos. (PhotosComponent)
    "photos" -> "enviando" uma lista de photos DE PhotoListComponent PARA PhotosComponent
-->
<ap-photos  [photos]="photos"></ap-photos>