@import "../../../assets/scss/variaveis.scss";

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

::ng-deep{
  .mat-raised-button.mat-accent{
    background: $cor-secundaria;
  }
  mat-spinner{
    width: 30px !important;
    height: 30px !important;
    svg{
      width: 30px !important;
      height: 30px !important;
    }
  }
}

.btn-login{
  transition: width .3s;
  width: 100%;
}
.btn-login-animate{
  width: 88%;
  margin-right: auto;
}
.mensagem-wasted-content{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8392156862745098);
  .wasted-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}