body{
    background-image: linear-gradient(to bottom right, transparent, transparent 14px, rgba(0,0,0,.1) 14px, rgba(0,0,0,.1) 15px, transparent 15px, transparent);
    background-size: 20px 20px;
}
.bloco-img{
   display: flex;
   flex-wrap: wrap;
}
.bloco-img li{
    flex: 45%;
    box-sizing: border-box;
    border: 8px solid #000;
    padding: 16px;
    margin: 0 16px 16px 0;
    background-color: #FFF;
}
.bloco-img li:first-child{
    flex-basis: 100%;
}
.bloco-img img{
    width: 100%;
    box-shadow: 0 0 4px #000;
}

