.panel-speakers{
    background: #F17D50;
    padding-top: 1.8rem;
}
.panel-speakers .about-speakers{
    text-align: center;
}
.panel-speakers .about-speakers .title,
.panel-speakers .about-speakers .subtitle{
    margin-bottom: 1rem;
    color: white;
    font-weight: bold;
}
.panel-speakers .title{
    font-size: 3.6rem;
    text-transform: uppercase;    
}
.panel-speakers .subtitle{
    font-size: 2.8rem;
}
.panel-speakers .speakers{
    text-align: center;
}
.panel-speakers .speaker{
    background: white;
    display: inline-block;
    margin: 0 8px 32px 8px;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    vertical-align: top;
}
.panel-speakers .speaker-image{
    max-width: 100%;
    border-radius: 50%;
}
.panel-speakers .speaker-name{
    margin-top: 10px;
}
.panel-speakers .speaker-bio,
.panel-speakers .speaker-speach{
    margin-top: 16px;
}
.panel-speakers .speaker-bio{
    font-weight: bold;
}